#mainDiv{
    display: flex;

}

#div1{
    width: 33%;
    background-color: violet;
    float: left;
}

#div2{
    width: 33%;
    background-color: red;
    float: left;

}

/* #div3{
    width: 20%;
    background-color: green;
    float: left;
} */

